 
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          InvoiceId
        </dt>

        <dd>
            @ViewBag.InvoiceDetail.InvoiceId
        </dd>

        <dt>
           Description
        </dt>

        <dd>
            @ViewBag.InvoiceDetail.Description
        </dd>

        <dt>
           Amount
        </dt>

        <dd>
            @ViewBag.InvoiceDetail.Amount
        </dd>

        <dt>
            UnitPrice
        </dt>

        <dd>
            @ViewBag.InvoiceDetail.UnitPrice
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = ViewBag.InvoiceDetail.Id }) |
    @Html.ActionLink("Back to List", "Index","Invoices")
</p>
