 
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>InvoiceDetail</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("Id",(long)ViewBag.InvoiceDetail.Id)

        <div class="form-group">
            @Html.Label("InvoiceId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("InvoiceId",(long)@ViewBag.InvoiceDetail.InvoiceId,  new { @class = "form-control" })
                @Html.ValidationMessage("InvoiceID", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Description",  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Description", (string)@ViewBag.InvoiceDetail.Description,  new { @class = "form-control"  })
                @Html.ValidationMessage("Description", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Amount", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Amount", (double)@ViewBag.InvoiceDetail.Amount, new { @class = "form-control" })
                @Html.ValidationMessage("Amount", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("UnitPrice", new { @class = "control-label col-md-2" })
             <div class="col-md-10">
                 @Html.TextBox("UnitPrice", (double)@ViewBag.InvoiceDetail.UnitPrice, new { @class = "form-control" })
                 @Html.ValidationMessage("UnitPrice", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
