 

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           ID
        </dt>
        <dt>
            @ViewBag.Invoice.Id 
        </dt>

        <dd>
            Type 
        </dd>
        <dd>
           @ViewBag.Invoice.Type 
        </dd>
    </dl>
    @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Invoice.Id })  

</div>

<h3>List Invoices Details</h3>
<p>
    @Html.ActionLink("Create New", "Create", "InvoiceDetails",new { idInvoice = ViewBag.Invoice.Id },null)
</p>

@Html.Action("Index", "InvoiceDetails", new { id= ViewBag.Invoice.Id });

</br>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
