 
@{
    ViewBag.Title = "Index";
}

<h2>List Invoices</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th scope="col">
                   ID
        </th>
        <th scope="col">
                  Type
        </th>
        <th scope="col">

        </th>
    </tr>

@foreach (var item in ViewBag.Invoices   ) {
    <tr>
        <td scope="row">
            @item.Id

        </td>
        <td scope="row">
            @item.Type

 
        </td>
         
        <td scope="row">
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
